<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib1.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            El GAC Aion ES combina elegancia y eficiencia en su diseño exterior.
            Su carrocería aerodinámica reduce la resistencia al viento,
            optimizando el consumo energético y maximizando su autonomía. <br />
            <br />
            El frontal cuenta con faros LED automáticos y luces diurnas (DRL), realzando
            su estética moderna y futurista, mientras que los espejos retrovisores
            eléctricos y las llantas de 17 pulgadas le aportan un toque de sofisticación.
            Este diseño no solo ofrece una apariencia impactante, sino que también
            contribuye a una conducción más eficiente y placentera.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib2.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Cuenta con una batería de fosfato de hierro y litio de 55.2 kWh, que
            destaca por su alta eficiencia y seguridad. Este sistema avanzado
            permite alcanzar una autonomía de hasta 234 km*, ideal para
            recorridos largos sin necesidad de recargas frecuentes. Su
            tecnología asegura una protección constante y un rendimiento óptimo,
            proporcionando tranquilidad al conductor en todo tipo de trayectos​.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib3.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Incorpora una pantalla táctil central de 8 pulgadas con sistema de
            infoentretenimiento de fácil acceso, permitiendo una experiencia
            intuitiva para el conductor. Además, cuenta con un cuadro de
            instrumentos digital LCD de 3.5 pulgadas que muestra la información
            esencial del vehículo. Con Apple CarPlay y control crucero
            integrados, este sistema combina tecnología y comodidad para un
            manejo superior.
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
