<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/aion-es/img/ext1.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/aion-es/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Los faros LED del GAC Aion ES combinan un diseño moderno con
            tecnología avanzada para ofrecer iluminación de alta calidad. Con
            funciones como luces automáticas y luces diurnas (DRL), estos faros
            están diseñados para mejorar la visibilidad y reducir el consumo
            energético. Además, el sistema de "Follow Me Home" proporciona
            seguridad adicional al iluminar el camino tras apagar el motor. Este
            diseño inteligente y funcional asegura una conducción segura y
            eficiente, ideal para trayectos nocturnos.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/aion-es/img/ext2.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/aion-es/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Llantas de aluminio de 17 pulgadas que destacan. Equipadas con
            neumáticos 215/55 R17, estas llantas combinan estabilidad y
            eficiencia, garantizando una experiencia de conducción suave y
            segura. Su diseño aerodinámico contribuye a optimizar el rendimiento
            energético del vehículo, resaltando el estilo moderno y la
            tecnología avanzada del GAC Aion ES, ideal para quienes buscan un
            sedán eléctrico confiable y elegante.
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
