<!-- Swiper -->
<div class="swiper mySwiper rightSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/aion-es/img/int1.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/aion-es/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            El GAC Aion ES ofrece un espacio interior diseñado para brindar
            comodidad en cada viaje. Sus asientos de eco cuero son ajustables,
            permitiendo personalizar la posición para el conductor y los
            pasajeros. Además, incluye un climatizador bi-zona y un filtro de
            aire PM2.5 que asegura un ambiente limpio y agradable.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/aion-es/img/int1.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/aion-es/img/int2.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/aion-es/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            Posee un maletero espacioso, ideal para adaptarse a cualquier
            necesidad de carga. Su capacidad permite transportar cómodamente el
            equipaje diario o de largos viajes, con un diseño pensado para
            maximizar el espacio útil. Además, su práctico acceso y disposición
            facilitan el almacenamiento de objetos de distintos tamaños,
            brindando funcionalidad y comodidad en todo momento.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/aion-es/img/int2.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/aion-es/img/int3.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/aion-es/img/fondo-izq.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Su interior está equipado con un volante de eco cuero ajustable y
            controles al volante, facilitando el acceso a las funciones de
            conducción. Además, cuenta con apoya brazos central con portavasos y
            un sistema de climatización bi-zona que mantiene una temperatura
            ideal para todos los pasajeros. Sus detalles, como los vidrios
            eléctricos “one-touch” para el conductor y el retrovisor
            antideslumbrante, elevan la experiencia de viaje a un nuevo nivel de
            confort y sofisticación​.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/aion-es/img/int3.png" alt="foto" />
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
